

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
  }

  .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
  }

  h1 {
    color: #90C44C;
    margin: 50px;
    font-size: 50px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  #searchInput {
    padding: 15px;
    width: 300px;
    border-radius: 5px;
    border: none;
    font-size: larger;
  }
  
  .dropdown-list {
    position: absolute;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
   
  }
  .dropdown-list li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown-list li:hover {
    background-color: #f0f0f0;
  }

  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    }

.results-title {
    color: #90C44C;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.coin-name {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.coin-logo {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
  